// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700');

$dark-gray: #1b1b1b;
$light-gray: #939393;
$light-gray2: #f5f5f5;
$light-gray3: #f3f3f3;
$gray: #666;
$white: #f2efe9;
$green: #72b01d;
$red: #e33a3f;
$primary-color: #f2efe9;
$primary-color-light: #90a4ae;
$secondary-color: #0075f2;

$font-size-small: 14px;
$font-size: 16px;
$font-size-big: 18px;
$line-height: 1.5;
// $font-family:'Roboto Slab', serif;
$font-family: 'Roboto Mono', monospace;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$left-width-small: 200px;
$left-width-medium: 250px;
$left-width-large: 300px;
