@import "normalize";
@import "normalize_plus";
@import "mixings";
@import "variables";
@import "grid";
@import "form_elements";
@import "hamburger";
@import "fontello";
// @import "animate";

body {
  background: $white;
  font-family: $font-family;
  font-size: $font-size-small;
  line-height: $line-height;
  font-weight: $font-weight-light;
  margin: 0;
  @include screen(medium) {
    font-size: $font-size;
  }
  @include screen(large) {
    font-size: $font-size-big;
  }
}
h1, h2{
  font-weight: $font-weight-light;
}
h1, h2, h3, h4 {
  margin: 0;
  text-transform: uppercase;
}
p {
  margin: 0 0 1rem 0;
}
strong,
b {
  font-weight: $font-weight-bold;
}
a, a:visited {
  color: $secondary-color;
  text-decoration: none;
}
.holder {
  height: 30px;
}
.error, .success {
  display: inline-block;
  background-color: $secondary-color;
  color: #fff;
  padding: 4px 8px;
  font-size: 90%;
}
.success {
  background-color: $green;
  width: 600px;
  padding: 1rem 1.4rem;
  display: block;
  margin: 4rem auto;
  @include elevation(1);
  font-size: 1.4rem;
}
#two {
  a, a:visited {
    // border-bottom: 1px dotted #000;
  }
}
.clear:after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
.main-logo {
  width: 60px;
  height: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  > * {
    padding: 1rem;
  }
}
.flex-50 {
  > * {
    width: 50%;
  }
}
.col {
  padding: 0 1rem;
}
section {
  margin: 4rem 0;
}
#main-wrapper {
  #one {
    text-align: center;
    padding: 1rem;
    background: $primary-color;
    color: $primary-color-light;
    @include elevation(1);
    a, a:visited {
      color: $primary-color-light;
    }
    @include screen(small) {
      width: $left-width-small;
      height: 100vh;
      position: fixed;
    }
    @include screen(medium) {
      width: $left-width-medium;
    }
    @include screen(large) {
      width: $left-width-large;
    }
    .name {
      margin: 0 0 2rem 0;
      font-size: 16px;
      > div {
        font-size: 70%;
        text-transform: uppercase;
      }
      @include screen(medium) {
        font-size: 18px;
      }
      @include screen(large) {
        font-size: 22px;
      }
    }
    .social {
      margin: 2rem 0;
      @include screen(large) {
        font-size: 24px;
      }
    }
  }
  #two {
    padding: 1rem;
    @include screen(small) {
      margin-left: $left-width-small;
      padding: 2rem;
    }
    @include screen(medium) {
      margin-left: $left-width-medium;
    }
    @include screen(large) {
      margin-left: $left-width-large;
    }
  }
}
.stack {
  span {
    display: inline-block;
    padding: 4px 8px;
    background: lighten($primary-color, 4%);
    margin: 0 0 1rem 0;
    color: $primary-color-light;
    @include border-radius(4px);
    font-size: 80%;
    // @include elevation(1);
  }
}
.image--cover {
  width: 150px;
  border-radius: 50%;
  margin: 0 0 20px 0;
  object-fit: cover;
  object-position: center right;
  @include elevation(1);
}
.cursor {
  animation: blinking 1s infinite;
}
@keyframes blinking {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 1;}
}

#projects {
  display: flex;
  flex-flow: row wrap;
  > * {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    @include elevation(1);
    background-color: #fff;
    @include screen(medium) {
      width: 43%;
    }
    @include screen(large) {
      width: 29%;
    }
    .image {
      position: relative;
      line-height: 0;
      background-color: $primary-color;
      img {
        opacity: .5;
        transition: opacity .25s;
      }
    }
    .links {
      text-align: right;
      text-transform: uppercase;
      font-size: 80%;
      a {
        display: inline-block;
        margin-left: 1rem;
      }
    }
    &:hover {
      img {
        opacity: .85;
      }
    }
  }
  .stack {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1.4;
    span {
      margin: .4rem 0;
      margin-right: .25rem;
    }
  }
  .Bigben {
    .links a:last-child {
      display: none;
    }
  }
}
figure {
  padding: 0;
  margin: 0;
  figcaption {
    padding: 1rem;
  }
}
// @include screen(large) {
//   #projects {
//     img {
//       opacity: 1;
//       transition: opacity .5s;
//     }
//     figure {
//       p {
//         position: absolute;
//         opacity: 0;
//         transition: all .25s .15s;
//         transform: translate3d(0, -140%, 0);
//       }
//       h3 {
//         position: absolute;
//         bottom: 60px;
//         transition: all .2s;
//         width: 100%;
//         &:after {
//           content: '';
//           position: absolute;
//           bottom: 0;
//           left: 0;
//           width: 0;
//           height: 2px;
//           background: #000;
//           transform: translate3d(0, 6px, 0);
//           transition: all .5s;
//         }
//       }
//       figcaption > .links {
//         text-decoration: none;
//         text-transform: uppercase;
//         font-size: 80%;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         display: inline-block;
//         padding: .4rem;
//         transition: all .5s;
//         transform: translate3d(0, -50%, 0);
//         text-align: right;
//         opacity: 0;
//       }
//     }
//     figure:hover {
//       img {
//         opacity: .25;
//       }
//       p {
//         opacity: 1;
//       }
//       h3 {
//         transform: translate3d(0, -260%, 0);
//         &:after {
//           width: 92%;
//         }
//       }
//       figcaption > .links {
//         transform: translate3d(0, 0, 0);
//         opacity: 1;
//       }
//     }
//     a, a:visited {
//       color: #000;
//     }
//   }
// }
nav {
  position: relative;
  .ghost {
    position: absolute;
    top: 0;
    left: 16px;
    display: none;
    color: #ddd;
    @include screen(large) {
      display: block;
    }
  }
  a, .ghost span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    margin-right: .5rem;
    transform: translate3d(0, 0, 0);
    transition: transform .25s ease;
    .cursor {
      display: none;
      position: absolute;
    }
  }
  a.nuxt-link-exact-active {
    border-bottom: 2px solid $primary-color;
    left: 2rem;
    @include screen(large) {
      position: absolute;
    }
  }
}
@include screen(medium) {
  nav {
    a, .ghost span {
      font-size: 1.4rem;
      margin-right: 1rem;
    }
  }
}
@include screen(large) {
  h1 {
    opacity: 0;
  }
  nav {
    a, .ghost span {
      font-size: 1.6rem;
    }
    padding-left: 1rem;
    a.nuxt-link-exact-active {
      border-bottom: none;
      transform: translate3d(0, 86px, 0) scale3d(1.3, 1.3, 1.3);
      color: #000;
      .cursor {
        display: inline;
      }
    }
  }
}
// .page-enter-active, .page-leave-active {
//   transition: opacity .15s;
// }
// .page-enter, .page-leave-to {
//   opacity: 0;
// }

.page-enter-active {
  animation: bounce .15s;
}
.page-leave-active {
  animation: bounce .15s reverse;
}

@keyframes bounce {
  0% {  
    transform: scale(.95);
    opacity: 0;
  }
  100% { 
    transform: scale(1);
    opacity: 1; 
  }
}
#page-contact {
  form {
    > div {
      margin: 0 0 1rem 0;
    }
    @include screen(medium) {
      max-width: 600px;
      margin: 0 auto;
    }
    .lastname {
      display: none;
    }
  }
}

.intro {
  @include screen(medium) {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 2rem auto;
    max-width: 800px;
    p {
      display: inline-block;
      flex: 1;
      padding: 1rem;
    }
  }
}
.contact-intro {
  @include screen(medium) {
    margin: 0 auto 2rem auto;
    max-width: 800px;
  }
}
.logos {
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
  img {
    max-width: 130px;
    max-height: 100px;
    vertical-align: middle;
    filter: grayscale(100%);
    opacity: .25;
    margin: 2rem;
  }
}